<section id="live">
  <div class="container" id="repl">
    <div class="row">
      <div class="col-lg-11 col-md-11 col-sm-11">
           <button style="margin-left: 50px" class="btn btn-default" ng-click="isPlayBack()">Start Video</button>
           <button style="font-family: 'Oswald', sans-serif;" class="btn btn-default" ng-click="pauseContinue()">Pause/Continue</button>
           <br>
           <br>
             <editor name="replay" replay-text="videoObj" output="videoObj.result"></editor>
           <input style="width: 780px;" ng-show="replayLength" type="range" ng-model="currentTime" ng-change="pauser();userUpdatingTime()" min="0" max="{{replayLength}}"/>
          <audio id="audioRec" ng-show="isAudio" ng-src="{{audioSrc}}" controls autoplay></audio>
           <recorder room-id="roomId" play-buffer="playBack" audio-src="audioSrc" name="replay"></recorder>
      </div>
    </div>
    <div class="col-lg-11">
      <fork room-id="roomId" fork="fork" name="replay" pause-continue="pauseContinue" replay-obj="videoObj"></fork>
    </div>
  </div>
</section>
          
