<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!--       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> -->
            <!--    </button> -->
            <a class="navbar-brand page-scroll">
                <span class="light">CodeCast</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" ng-class="{pad:boolChangeClass}">
                <li ng-repeat="item in items" ng-show="((!item.auth || isLoggedIn()) && !item.instructor) 
            || (isLoggedIn() && isInstructor() || ((isLoggedIn() && !isInstructor) && !item.instructor))
            || (isLoggedIn() && isAdmin() || ((isLoggedIn() && !isAdmin) && !item.admin))">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}({ userId:user._id })">{{ item.label }} </a>
                </li>
            </ul>
            <button ng-show="!user" ui-sref="login" id="loginButton" class="btn login-button btn-default">Login</button>
            <div ng-show="user" id="welcome" style="color:#FFE3D5; margin-left:150px">
            
                    <span >Welcome, {{ user.email }}!</span>
                    <a ng-click="logout()" style="color:#FFE3D5">Logout</a>
                
            </div>
        </div>
    </div>
    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>