<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i> <span class="light">CodeCast</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" ng-class="{pad:boolChangeClass}">
                <li ng-repeat="item in items" ng-show="((!item.auth || isLoggedIn()) && !item.instructor) 
            || (isLoggedIn() && isInstructor() || ((isLoggedIn() && !isInstructor) && !item.instructor))
            || (isLoggedIn() && isAdmin() || ((isLoggedIn() && !isAdmin) && !item.admin))">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}({ userId:user._id })">{{ item.label }} </a>
                </li>
<button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
    <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>