<section id="live">

	<div ng-keyup="startSharing()"
   <textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-model="textSnip" type="text" size="20px" ng-keyup="startRecording()" ng-keypress="" id="inputBox"></textarea>
	</div>
   <button ng-click="endInterval()">End interval</button>

   	<a ui-sref="replayListState"><button>Go to replay section</button></a>
</section>

   <button ng-click="getResultCode()">Check your code result</button>
   <div id="sandBoxResult">{{ output }}</div>
</section>






