<div id="editorEnsemble"> 
  <div class="row">
    <button id="endLecture" ng-show="name=='live' && user.instructor" ng-click="deleteRoom()"> End lecture </button>
    <button id="getResult" ng-hide="name=='live' && !user.instructor" ng-click="getResultCode()"> Run the Code > </button>
  </div>
  <textarea class="row" ui-codemirror ui-codemirror-opts="{
        lineWrapping: true,
        lineNumbers: true,
        mode: 'javascript',
        smartIndent: true,
        autoCloseBrackets: true,
        matchBrackets: true,
        keyMap: 'sublime',
        onLoad: codemirrorLoaded
    }" type="text" size="200px" ng-model="replayText.text" id="originalBox"></textarea>
   <div id="sandBoxResult">{{output}}</div>
</div> 


<!-- ng-readonly="replayText.noEditing" -->