	<div id='commentsBlock'>
		<div class="comment" ng-repeat="comment in commentsArr">
			<span id="commenter"> 
				{{comment.user.firstName}}:
			</span>
			<span id="message">
				{{comment.text}}
			</span>
		</div>
	</div>
	<div class="panel-footer">
	    <div>
	    	<form ng-submit="createComment(post.question)">
	    		<div id="mainTitle">
		        	<input style="height: 50px" id="chatQuest" type="text" ng-model="post.question" placeholder="Type your question here..." />
		        </div>
		        <div id="mainTitle">
		         	<span class="textTeal">Comments/Questions</span>
		    	</div>
		    </form>
	    </div>
	</div>