

<section id="student">

Instructor List:
<input placeholder="Instructor Name" ng-model='instructorSearch'>
<div ng-repeat="instructor in instructors | filter: instructorSearch">
	<a ng-click="getLecture(instructor._id)">{{instructor.name}}</a>
</div>

<div ng-show="showRooms" ng-repeat="room in instructorRooms">
<a ui-sref="liveState({roomId: room._id})">{{room.name}}</a>
</div>


Forks:
<div ng-repeat="fork in forks">
	
</div>
Notes (forks made by User), organized by video
rooms, replay
search bar to find an instructor / a video name


</section>


