  <div id="mainTitle">
    <span style="font-family: 'Oswald', sans-serif;" class="textTeal">Attendees</span>
  </div>
  <div id="mainTitle">
    <input style="margin-top: 5px; height: 50px" type="search" ng-model="q" id="chatQuest" placeholder="Invite an attendee to edit..."/>
  </div>
  <div id="mainTitle">
    <p ng-show="selectedStudent" class="textTeal">Currently invited: {{selectedStudent.firstName}}</p>
  </div>
  <div>
    <ul class="textTeal" id="attendeeList" class="example-animate-container" id="attendeeBlock">
      <li class="animate-repeat" ng-repeat="student in room.students | filter:q as results" ng-click="user.instructor && select(student)" ng-class="user.instructor&&(student._id==selectedStudent._id)? 'selected' : 'notSelected' ">
        <div class="comment">
            <span>
          {{student.email}}
            </span>
        </div>
      </li>
      <div>
      	<li  class="animate-repeat" ng-if="results.length === 0">
        	<strong> No results found...</strong>
      	</li>
      </div>
    </ul>
  </div>