<!-- <div ng-if="user.instructor"> -->
  <p ng-show="selectedStudent">Currently invited: {{selectedStudent.firstName}}</p>
  <input type="search" ng-model="q" placeholder="Invite an attendee to edit..."/>
  <span>Attendees:</span>
  <ul class="example-animate-container" id="attendeeBlock">
    	<li class="animate-repeat" ng-repeat="student in room.students | filter:q as results" ng-click="user.instructor && select(student)" ng-class="user.instructor&&(student._id==selectedStudent._id)? 'selected' : 'notSelected' ">
      {{student.email}}
    	</li>
    	<li class="animate-repeat" ng-if="results.length === 0">
      	<strong> No results found...</strong>
    	</li>
  </ul>