
<section id='signupPage'>

<form id="login-form" name="signupForm" ng-submit="sendLogin(credentials)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="firstName" class='loginText'>First Name</label>
        <input type="text" ng-model="credentials.firstName" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastName" class='loginText'>Last Name</label>
        <input type="text" ng-model="credentials.lastName" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="email" class='loginText'>Email address</label>
        <input type="text" ng-model="credentials.email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="credentials-password" class='loginText'>Password</label>
        <input type="password" ng-model="credentials.password" class="form-control" id="credentials-password" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="credentials-password" id="instruct"> Are you an instructor? </label>
        <input type="checkbox" ng-model="credentials.instructor" id="credentials-instructor">
    </div>
    <button style="font-family: 'Oswald', sans-serif;" type="submit" class="btn btn-default">Submit</button>
    <oauth provider="google"></oauth>
    <oauth provider="github"></oauth>
</form>

</section>