

// #studentDash {
//     width: 100vw;
//     min-height:100%;
//     font-family: 'Oswald', sans-serif;
//     background-image: url("../images/back.jpeg");
//     background-attachment: fixed;
//     background-repeat: no-repeat;
//     // -webkit-background-size: cover;
//     // -moz-background-size: cover;
//     // -o-background-size: cover;
//     // background-size: cover;
// }

#studentDash {
    width: 100vw;
    min-height:100%;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sidebar-collapse{
	position: relative;
	width: 10%;
	margin-top: 103px;
	margin-right: 10px;
	height: 100%;
	padding-top: 125px;
	background-color: rgba(0, 0, 0, 0.4);
	
}

#sidebar-collapse li{
	// background-color: rgba(255, 255, 255, 0.2);
	font-family: 'Oswald', sans-serif;
}

a:hover {
	color: #fff;
}

p {
	margin-top: 5vh;
	float: left;
	color: #C1FF50;
    font-family: 'Oswald', sans-serif;
}

.nav > li > a:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
 .nav > li > a:focus{
 	background-color: rgba(255, 255, 255, 0.2);
 }


.wrapper {
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
width: 30%;
float: left;
margin: 10px;
background-color: rgba(255, 255, 255, 0.20);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.wrapper:hover {
background-color: rgba(255, 255, 255, 0.40);
}



#teacherDash {
    width: 100vw;
    height: 100vh;
    min-height:100%;
 	font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#studentDiv {
	height: 100vh;
    margin: 0 auto;
}


#sidebar-collapse:hover{
 font-family: 'Oswald', sans-serif;
 color: #C1FF50;
 
}

.inputBoxRight {
	display: inline;
	float: left;
		margin-top: 30px;
	margin-left: 500px;
	height: 41px;
	background-color: #BFC3BA;

}

.listIt {

	float: left;
}
#studentContent{

	h1{
	width: 350px;
	font-size: 32px;
	color: #fff;
	display: inline;
	float: left;
		
	}
	padding-top: 140px;
	margin-top: 20px;
}

.createRoomInput{
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
	display: inline;
	float: left;
	margin-top: 80px;
	margin-left: 300px;
	height: 7vh;
	padding-left: 2px;

}

.createRoomInput:focus {
	outline: 0;
}

#createRoom{
	margin-left: -130px;
	margin-top: 80px;
}

.textTeal{
	color: #C1FF50;
	font-family: 'Oswald', sans-serif;
}

.listItemText{
	color: #C1FF50;
}

#changeToInstruct {
	font-family: 'Oswald', sans-serif;
	float: left;
	color: #fff;
}


#changeToInstruct:hover {
	color: #C1FF50;
}
