

#studentDash {
    width: 100vw;
    // height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#sidebar-collapse li{
	font-family: 'Oswald', sans-serif;
}

a:hover {
	color: #fff;
}

p {
	margin-top: 5vh;
	float: left;
	color: #C1FF50;
    font-family: 'Oswald', sans-serif;
}

.nav > li > a:hover {
	background-color: transparent;
}


.wrapper {
padding: 20px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
width: 30%;
float: left;
margin: 10px;
background-color: rgba(255, 255, 255, 0.20);
cursor: pointer;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.wrapper:hover {
background-color: rgba(255, 255, 255, 0.40);
}



#teacherDash {
    width: 100vw;
    height: 100vh;
 	font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#studentDiv {
    margin: 0 auto;
    padding-top: 140px;
}


#sidebar-collapse:hover{
 font-family: 'Oswald', sans-serif;
 color: #BFC3BA;
 font-size: 16px;
}

.inputBoxRight {
	display: inline;
	float: left;
		margin-top: 30px;
	margin-left: 500px;
	height: 41px;
	background-color: #BFC3BA;

}

.listIt {

	float: left;
}
#studentContent{

	h1{
	width: 350px;
	font-size: 32px;
	color: #fff;
	display: inline;
	float: left;
		
	}
	margin-top: 20px;
}

.createRoomInput{
    border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
	display: inline;
	float: left;
	margin-top: 80px;
	margin-left: 300px;
	height: 7vh;
	padding-left: 2px;

}

.createRoomInput:focus {
	outline: 0;
}

#createRoom{
	margin-left: -130px;
	margin-top: 80px;
}

.textTeal{
	color: #C1FF50;
}

.listItemText{
	color: #C1FF50;
}

#changeToInstruct {
	font-family: 'Oswald', sans-serif;
	margin-left: 40%;
}
