#rightBlock {
	margin-top: 3vh;
	width: 50%;
	border: 1px solid black;
	display: block;
	float: right
}

#rightBlock input {
	width: 100%
}

#commentsBlock {
	height: 50vh;
	overflow:auto
}

.comment {
	padding: 1vh;
	display: inline-block;
	word-break:break-all
	
}