#rightBlock {
	margin-top: 3vh;
	height: 100%;
	display: block;
	float: right
}

.commentsDirective {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.20);
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



.panel-footer {
	background-color: transparent;
}

#btn-chat {
	margin-left: 6vw;
}

#commentsBlock {
	height: 50vh;
	overflow:auto;
	word-break: break-all;
}

.comment {
	font-family: 'Oswald', sans-serif;
	padding: 1vh;
	display: inline-block;
	width: 100%
}

#commenter {
	font-family: 'Oswald', sans-serif;
	color: #C1FF50;
	font-style: italic;
}

#message {
	font-family: 'Oswald', sans-serif;
	color: #fff;
}

#input {
	width: 100%
}

#confirmButton {
	width: 15%
}

.description {
	font-family: 'Oswald', sans-serif;
	margin-left: 35%;
}

#chatQuest {
	width: 90%;
	border-radius: 0px;
	align: center;
	border: 1px solid #fff;
    color: #fff;
    font-weight: 700;
    background-color: transparent;
	display: inline;
	height: 41px;
	font-family: 'Oswald', sans-serif;
	text-size: 10px;
}

#chatQuest:focus {
	outline: 0;
}

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #BFC3BA;
  outline: 1px solid #BFC3BA;
}