#rightBlock {
	margin-top: 3vh;
	height: 100%;
	display: block;
	float: right
}

.commentsDirective {
	border: 3px solid blue;
}

#rightBlock input {
	width: 100%
}


#commentsBlock {
	height: 50vh;
	overflow:auto
}

.comment {
	padding: 1vh;
	display: inline-block;
	word-break:break-all
	
}