#editorEnsemble {
	width: 40%;
}

editor {
	width : 300%;
	margin-right : 20vw;
}

#sandBoxResult {
	margin-top: 2vh;
	border: 1px solid black;
}

#getResult {
	display: block;
	position: relative;
	margin-bottom: 2vh;
}

