#login-form {
    margin: 0 auto;
    padding-top: 120px;
    width: 60%;
}

#signupPage {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginPage {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginText {
    color: #1B9AAA;
}

#toSignUp {
    color: #1B9AAA;
    margin-top: 10px;
    font-size: 15px;
}