#login-form {
    margin: 0 auto;
    padding-top: 120px;
    width: 60%;

}

.form-control {
        border: 1px solid #fff;
        border-radius: 0px;
        color: #fff;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        background-color: transparent;
        height: 7vh;
 }

.form-control:focus {
    border-color: #fff;
}

#signupPage {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginPage {
    width: 100vw;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginText {
    color: #C1FF50;
    font-family: 'Oswald', sans-serif;
}

#instruct {
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#toSignUp {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

#credentials-instructor {
    height: 2.5vh;
    width: 2.5vh;
    margin-left: 1vh;
}