	
	<textarea ui-codemirror ui-codemirror-opts="editorOptions" ng-readonly="noEditing" type="text" size="200px" ng-model="replayText" id="originalBox">{{replayText}}</textarea>
   <button ng-click="getFullCast()">Start Video</button>


   <button ng-click="getResultCode()">Check your code result</button>

   <div>
  <!--  <button ng-click="pauseReplay()">Pause</button>
   <button ng-click="continueReplay()">Continue</button> -->
	<button ng-click="pauseContinue()">Pause/Continue</button>

   </div>

   <button ng-click="makeFork()">Fork</button>
   <div id="sandBoxResult">{{ output }}</div>