#about {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    font-family: 'Oswald', sans-serif;
    background: url("../images/back.jpeg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @include clearfix;
    p {
        width: 80vw;
        margin-left: 10vw;
        text-align: justify;
        font-size: 22px;
        font-weight: 300;
        float: left;
        color: #BFC3BA;
    }
    li {
        color: #BFC3BA;
    }
    #features {
        width: 40vw;
        float: left;
    }
    h3 {
        text-align: center;
        color: #C1FF50;
    }
    img {
        width: 40vw;
        height: auto;
        display: block;
        margin-left: 10vw;
    }
    #aboutMargin {
        margin: 0 auto;
        padding-top: 120px;
    }
}