* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
  // -webkit-filter: invert(100%);
  //  filter: invert(100%);
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

btn btn-default {
font-family: 'Oswald', sans-serif;

}

@import 'home/main';
@import 'directives/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'dashBoards/main';
