<div id='teacherInfo' class="col-md-3">
    <span>My Personal Info:</span>
    <!-- <a ng-repeat='(key, value) in user'>{{ key }}: {{ value }} </a> -->
    <span>{{ user.firstName }}</span>
</div>
<div class='rooms' class="col-md-6">
    <div id="currentLectures" class="col-md-3">
        <p>My Current Lectures:</p>
        <a ng-repeat='room in rooms' ng-click='joinRoom(room._id)'>{{ room.name }}</br> </a>
<a ui-sref='roomState({instructorId: instructorId})'>
    <button>Create new Room</button>
</a>
    </div>
    <div id='recordedlectures' class="col-md-3">
        <p>My Past Lectures:</p>
        <a ng-repeat='lecture in lectures' ng-click='watchLecture(lecture._id)'>{{ lecture.name }} </br> </a>
    </div>
</div>